<nav>
    <a href="/">VOUCH</a>
    <div class="nav-links">
    <% if(user) { %>
    <a href="/users/<%= user._id %>/lists">YOUR LISTS</a>
    <a href="/auth/sign-out">SIGN OUT</a>
    <% } else { %>
    <a href="/auth/sign-in">SIGN IN</a>
    <a href="/auth/sign-up">SIGN UP</a>
    <% } %>
</div>
  </nav>