<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Vouch</title>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>
    <div class="main-container">
        <div class="home-container">
            <h1>FOOD. ART. HOTELS. RETAIL.</h1>
            <p class="home-tagline">Only the places you can vouch for.</p>
            
            <div class="image-row">
                <img src="https://format.creatorcdn.com/0bc7cd23-0150-4b54-8251-b120fc8da122/0/0/0/0,0,2338,3015,1600,3015/0-0-0/bf79b740-65d3-4a16-9224-30277cf83431/1/1/DO1070857.jpg?fjkss=exp=2055890564~hmac=bd7d99a71f52a8d9429c7c8a012e73f6d601ecc494c7cb74fbe09f3e595951ab&1600" alt="Restaurant dining room">
                <img src="https://format.creatorcdn.com/0bc7cd23-0150-4b54-8251-b120fc8da122/0/0/0/0,0,1358,2048,2500,2048/0-0-0/293c5a49-acbc-47fb-a5b7-31aa1a5fdb96/1/1/000374730012.jpg?fjkss=exp=2055890564~hmac=40af1de094a0a7a9d0fb995579b940b8db669ffea02e0fa58a3dcfa1ad383093&1358" alt="Hotel bedroom">
            </div>

            <p class="home-description">Curated lists of the places that get it right. If a spot makes it onto your list, you know it's a must-go destination—no filler, just your top recommendations. </p>
        </div>
    </div>
    <footer>
        <p>© 2025 VOUCH APP</p>
    </footer>
</body>
</html>