<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Vouch</title>
</head>

<body>
    <%- include('./partials/_navbar.ejs') %>
        <div class="main-container">

            <h1>VOUCH</h1>
            <p>If you love it, vouch for it.</p>
        </div>
        <footer>
            <p>© 2025 Vouch App</p>
        </footer>
</body>

</html>